.vertical-navbar{
    padding: 20px;
    width: 200px;
    height: 100vh; /*autura total da janela de visualização*/
    position: fixed; /* fixa a posicao da div na pagina*/
    left: 0; /*aliha a esquerda*/
    top: 55px;
    display: flex; 
    flex-direction: column; 
    /*colocar items em coluna*/
}

.vertical-navbar ul{
    list-style: none;
    margin-top: 3rem;
    padding: 0;
    margin: 0;
}

.vertical-navbar li{
    margin-bottom: 10px;
}


.vertical-navbar a{
    text-decoration: none;
    color: rgb(236, 114, 0)
}

div{
    padding: 7px;
}


button{
    transition: transform 3.0s ease;
}

button:hover{
    transition: transform 1.0s ease;
    transform: scale(1.1);
}

.list-group li{
    transition: transform 0.3s ease;
}

.list-group li:hover{
    transform: scale(1.2);
}

#more {
    width: 30px;
    position: fixed;
    bottom: 1%;
    transition: transform 3.0s ease;
}

#more:hover{
    transform: scale(1.1);
    transition: transform 1.s ease;
}

