
#favori{
    float: right;
    color: red;
    transition: 1.5s ease;
}
#favori:hover{
    transition: 1.0s ease;
    transform: scale(1.2);
}

#save{
    color: blue;
    transition: 1.5s ease;
}
#save:hover{
    transition: 1.0s ease;
    transform: scale(1.2);
}

.image {
    position: relative;
    display: inline-block;
    padding-bottom: 0%;

}
  
.image img {
transition: opacity 0.3s;
}
  
.image:hover img {
    opacity: 0.8;
}

.text-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    opacity: 0;
    transition: opacity 0.3s;
}

.image:hover .text-overlay {
   opacity: 1;
}


#title{
    position: absolute;
    top: 1;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    opacity: 0;
    transition: opacity 0.3s;
    padding: 4%;
    color: azure;
}

.image #title {
    transition: opacity 0.3s;
}

.image #title:hover{
    transition: opacity 0.3s;
    opacity: 1;
}


.col-md-6{
    border: solid red 1px;
}


.image .close{
    position: absolute;
    top: 0;
    left: 1;
    right: 1;
    bottom: 0;
    display: flex;
    flex-direction: column;
    margin-top: 3%;
    opacity: 0;   
    transition: opacity 0.3s;
}

.image .close:hover{
    opacity: 1;
    transition: opacity 0.7s;
}


.close i {
    cursor: pointer;
    color: red;
    transition: 1s ease;

}

.close i:hover{
    transition: 2s ease;
    transform: scale(1.1);
}