.setCartoon{ 
    width: 70rem;
}


.file-input-container{
    margin-bottom: 25px;
    transition: none;
    animation: none;
    margin-right: 25%;
    
}

.file-input-container input button {
    background-color: red;
}


.file-input-container i{
    color: blue;
}

#contentPost {
    background-color: rgba(0, 0, 0, 0.0);
}


.transparent-input {
    background-color: rgba(0, 0, 0, 0);
}
  
  
.users{
     color: blue;
}

.transparent-input::placeholder{
    font-size: large;

}